.image-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
  
  .image-carousel img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
  }
  
  .image-carousel button {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .image-carousel button:hover {
    background-color: #f0f0f0;
  }
  